### pandas read

In [1]:
import pandas as pd
import numpy as np
import openpyxl as xl
import os
#import os.path
#from tkinter import filedialog
#from tkinter import *
#from pathlib import Path

### 파일 읽기
* os.path.basename(filename) - 파일명만 추출
* os.path.dirname(filename) - 디렉토리 경로 추출
* os.path.split(filename) - 경로와 파일명을 분리
* os.path.splitdrive(filename) - 드라이브명과 나머지 분리 (MS Windows의 경우)
* os.path.splitext(filename) - 확장자와 나머지 분리

def file_open():
    root = Tk()  # 루트 윈도우 생성
    root.title("File Select...")
    root.geometry("200x100")
    root.resizable(0,0)

    files = filedialog.askopenfilenames(initialdir="./",\
        title = "파일을 선택 해 주세요",\
        filetypes = (("*.xlsx","*xlsx"),("*.xls","*xls"),("*.csv","*csv")))
    #files 변수에 선택 파일 경로 넣기

    if files == '':
        filedialog.showwarning("경고", "파일을 추가 하세요")    #파일 선택 안했을 때 메세지 출력
    root.withdraw()  # 루트 윈도우 숨기기 
    str_file = ''.join(files)
    return str_file

### 메세지

In [2]:
print("다음과 같이 파일을 확인한 후 아무키나 눌러 주세요.\n")
print("거래처별매입매출장.xlsx\n")
print("거래처등록.xlsx\n")
#os.system("pause")

다음과 같이 파일을 확인한 후 아무키나 눌러 주세요.

거래처별매입매출장.xlsx

거래처등록.xlsx

### 거래처 매입매출 자료
* read
* 거레처코드로 sort

In [3]:
df_tax = pd.read_excel('거래처별매입매출장.xlsx', usecols=['일자', '전표번호', '코드', '거래처', '유형', '품목', '수량', '단가', '공급가액', '부가세', '합계'])
#df_tax = pd.read_excel(file_open(), usecols=['일자', '전표번호', '코드', '거래처', '유형', '품목', '수량', '단가', '공급가액', '부가세', '합계'])
#df_tax_total = df_tax['일자'].count()
# sort
#df_tax_sort = df_tax.sort_values(by = '전표번호')
#df_tax_sort

,일자,전표번호,코드,거래처,유형,품목,수량,단가,공급가액,부가세,합계
0,2022-09-01,50001.0,338.0,우리엘리베이터/화성,과세,도어 SM 판매,1.0,"280,000",280000,28000,308000
1,2022-09-01,50002.0,638.0,신세기엘리베이터/화성,과세,COP30D 판매,1.0,"390,000",390000,39000,429000
2,2022-09-01,50002.0,638.0,신세기엘리베이터/화성,과세,WB201GT[22KW]수리,1.0,"500,000",500000,50000,550000
3,2022-09-01,50003.0,552.0,동양텍/울산,과세,IOC3BG02 판매,1.0,"1,300,000",1300000,130000,1430000
4,2022-09-01,50003.0,552.0,동양텍/울산,과세,CPIK48M1판매,2.0,"2,450,000",4900000,490000,5390000
5,2022-09-01,50004.0,145.0,기산엘리베이터㈜/군포,과세,HPIDW 가로 판매,1.0,"150,000",150000,15000,165000
6,2022-09-01,50005.0,338.0,우리엘리베이터/화성,과세,CSCN04A 수리,1.0,"50,000",50000,5000,55000
7,2022-09-01,50005.0,338.0,우리엘리베이터/화성,과세,COP30D 수리,2.0,"80,000",160000,16000,176000
8,2022-09-01,50006.0,559.0,서원엘리베이터/안양,과세,OPB SUB(장애자)-40 판매,2.0,"64,000",128000,12800,140800
9,2022-09-01,50007.0,390.0,한길승강기/화성,면건,WB100G-N 수리,1.0,"300,000",300000,0,300000
10,2022-09-01,50007.0,390.0,한길승강기/화성,면건,WB110GT 수리,1.0,"650,000",650000,0,650000
11,2022-09-01,50007.0,390.0,한길승강기/화성,면건,LED 판매,5.0,"5,000",25000,0,25000
12,2022-09-01,50009.0,1779.0,김영운,면건,ACD TOOL 판매,1.0,"90,000",90000,0,90000
13,2022-09-01,50010.0,392.0,월드엘리베이터/대구,과세,DOA 판매,1.0,"150,000",150000,15000,165000
14,2022-09-01,50010.0,392.0,월드엘리베이터/대구,과세,ACD TOOL 판매,1.0,"110,000",110000,11000,121000
15,2022-09-01,50011.0,205.0,신화엘리베이터㈜,과세,비상전원장치1.2A 판매,20.0,"36,000",720000,72000,792000
16,2022-09-01,50011.0,205.0,신화엘리베이터㈜,과세,IOC3BV3.0 판매,3.0,"800,000",2400000,240000,2640000
17,2022-09-01,50011.0,205.0,신화엘리베이터㈜,과세,IOC3B 자재비,1.0,"100,000",100000,10000,110000
18,2022-09-01,50011.0,205.0,신화엘리베이터㈜,과세,DMCU1A 수리,1.0,"300,000",300000,30000,330000
19,2022-09-01,50012.0,250.0,주식회사 하나엘리베이터/용인,과세,WB121GT 수리,1.0,"750,000",750000,75000,825000
20,2022-09-01,50013.0,299.0,바로엘리베이터/용인,과세,IOC2B 수리,1.0,"240,000",240000,24000,264000
21,2022-09-01,50014.0,983.0,(주)신한엘리베이터/김포,과세,DOA100 판매,1.0,"150,000",150000,15000,165000
22,2022-09-01,50015.0,241.0,주식회사 쉰들러엘리베이터/시흥,과세,VCON 판매,1.0,"280,000",280000,28000,308000
23,2022-09-01,50015.0,241.0,주식회사 쉰들러엘리베이터/시흥,과세,4590093980,NaN,NaN,0,0,0
24,2022-09-01,50016.0,133.0,(주)하나엘리베이터/양재금천,과세,WB110GT-F 수리,1.0,"350,000",350000,35000,385000
25,2022-09-01,50017.0,1614.0,오티스서비스엑스퍼트/부산2,과세,CPIK100R 수리,1.0,"810,000",810000,81000,891000
26,2022-09-01,50018.0,143.0,금호승강기/광주,과세,HPIDW 가로 판매,1.0,"150,000",150000,15000,165000
27,2022-09-01,50019.0,141.0,금강테크엘리베이터/금천구,과세,HESD2000G 수리,1.0,"700,000",700000,70000,770000
28,2022-09-01,50021.0,141.0,금강테크엘리베이터/금천구,과세,CPIK32M1 TEST,1.0,"150,000",150000,15000,165000
29,2022-09-01,50022.0,171.0,보성엘리베이터(주)/안양,과세,도어 DY 판매,1.0,"315,000",315000,31500,346500
30,2022-09-01,50023.0,1642.0,신현선님/개인,면건,IOC3B 수리,2.0,"150,000",300000,0,300000
31,2022-09-01,50023.0,1642.0,신현선님/개인,면건,운임,1.0,"7,000",7000,0,7000
32,2022-09-01,50024.0,460.0,퀸테크,과세,IOC3B 수리,4.0,"150,000",600000,60000,660000
33,2022-09-01,50024.0,460.0,퀸테크,과세,IOC2B 수리,1.0,"150,000",150000,15000,165000
34,2022-09-01,50024.0,460.0,퀸테크,과세,8/31운임,1.0,"14,000",14000,1400,15400
35,2022-09-01,50025.0,438.0,바론엘리베이터,과세,VCON 수리,1.0,"50,000",50000,5000,55000
36,2022-09-01,50025.0,438.0,바론엘리베이터,과세,운임,1.0,"6,000",6000,600,6600
37,2022-09-01,50026.0,486.0,대명엘리베이터/송파,과세,WB100-N 수리,1.0,"350,000",350000,35000,385000
38,2022-09-01,50027.0,195.0,신광엘리베이터㈜/인천,과세,SJ 인디게이터,1.0,"300,000",300000,30000,330000
39,2022-09-01,50028.0,688.0,조은엘리베이터(주)/마포,과세,CPIK15M1 수리,1.0,"350,000",350000,35000,385000
40,2022-09-01,50029.0,446.0,대한승강기안전 주식회사/송파,과세,PIO 판매,1.0,"450,000",450000,45000,495000
41,2022-09-01,50029.0,446.0,대한승강기안전 주식회사/송파,과세,TNPG01 수리,1.0,"210,000",210000,21000,231000
42,2022-09-01,50030.0,288.0,주안엘리베이터/송파,과세,VCON 판매,1.0,"280,000",280000,28000,308000
43,NaN,NaN,NaN,[월 계],NaN,NaN,74.0,NaN,19665000,1829300,21494300
44,NaN,NaN,NaN,[분기 누계],NaN,NaN,74.0,NaN,19665000,1829300,21494300
45,NaN,NaN,NaN,[누 계],NaN,NaN,74.0,NaN,19665000,1829300,21494300

In [4]:
df_tax['유형'].replace('면건', np.NaN, inplace = True)
df_tax.dropna(subset=['유형'], inplace=True)
df_tax_total = df_tax['일자'].count()

### 업체 정보 read

In [5]:
df_account = pd.read_excel('거래처등록.xlsx', header = 14, usecols=['거래처코드', '거래처명', '사업자등록번호', '대표자성명', '업태', '종목', '주소', 'EMail'])
df_account_count = df_account['거래처명'].count()
df_account.rename(columns={'거래처코드':'코드'}, inplace=True)

### Data Merge
* tax + account

In [6]:
df_m = pd.merge(df_account, df_tax, on="코드", how="right")  # 이름이 같아야지만 merge가 가능

#df_m['거래처명'] = df_m['거래처명'].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df_m['일자'] = df_m['일자'].str.replace(pat=r'[^\w]', repl=r'', regex=True)
df_m['거래처명'] = df_m['거래처명'].str.split('/').str.get(0)

### 전표 신규 데이터 read

In [7]:
df_input = pd.read_excel("양식.xlsx", header = 5)
#df_input.loc[0] = ''
#df_input['전자(세금)계산서 종류'].iloc[0] = '01'

### 전표 입력

In [8]:
def TAX_NewDataInput(line, sumline):
    df_input.loc[line + 1] = ''
    
    df_input['전자(세금)계산서 종류'].iloc[sumline] = '01'

    df_input['공급자 등록번호'].iloc[sumline] = '4098654575'
    df_input['공급자 상호'].iloc[sumline] = '주식회사윤전자'
    df_input['공급자 성명'].iloc[sumline] = '이창규'
    df_input['공급자 사업장주소'].iloc[sumline] = '경기도 군포시 공단로140번길 52 1413호'
    df_input['공급자 업태'].iloc[sumline] = '제조업'
    df_input['공급자 종목'].iloc[sumline] = '발전기 및 전동기 수리업'
    df_input['공급자 이메일'].iloc[sumline] = 'yoon.leecg@gmail.com'
    df_input['영수(01),청구(02)'].iloc[sumline] = '02'

    df_input['작성일자'].iloc[sumline] = df_m['일자'].loc[line]
    df_input['공급받는자 등록번호'].iloc[sumline] = df_m['사업자등록번호'].loc[line]
    df_input['공급받는자 상호'].iloc[sumline] = df_m['거래처명'].loc[line]
    df_input['공급받는자 성명'].iloc[sumline] = df_m['대표자성명'].loc[line]
    df_input['공급받는자 사업장주소'].iloc[sumline] = df_m['업태'].loc[line]
    df_input['공급받는자 업태'].iloc[sumline] = df_m['종목'].loc[line]
    df_input['공급받는자 종목'].iloc[sumline] = df_m['주소'].loc[line]
    df_input['공급받는자 이메일1'].iloc[sumline] = df_m['EMail'].loc[line]

In [9]:
# 일자1	품목1	규격1	수량1	단가1	공급가액1	세액1
total_sum_price = 0
total_sum_tax = 0

def TAX_ReleaseDataInput(line, add, sumline):
    if(add == 0):
        df_input['일자1'].iloc[sumline]         = df_m['일자'].str.slice(8, 10).loc[line]
        df_input['품목1'].iloc[sumline]         = df_m['품목'].loc[line]
        df_input['수량1'].iloc[sumline]         = df_m['수량'].loc[line]
        df_input['단가1'].iloc[sumline]         = df_m['단가'].loc[line]
        df_input['공급가액1'].iloc[sumline]     = df_m['공급가액'].loc[line]
        df_input['세액1'].iloc[sumline]         = df_m['부가세'].loc[line]
        df_input['공급가액'].iloc[sumline]      = df_m['공급가액'].loc[line]
        df_input['세액'].iloc[sumline]      = df_m['부가세'].loc[line]

    elif(add == 1):
        df_input['일자2'].iloc[sumline]        = df_m['일자'].str.slice(8, 10).loc[line]
        df_input['품목2'].iloc[sumline]        = df_m['품목'].loc[line]
        df_input['수량2'].iloc[sumline]        = df_m['수량'].loc[line]
        df_input['단가2'].iloc[sumline]        = df_m['단가'].loc[line]
        df_input['공급가액2'].iloc[sumline]    = df_m['공급가액'].loc[line]
        df_input['세액2'].iloc[sumline]        = df_m['부가세'].loc[line]
        df_input['공급가액'].iloc[sumline]      = df_input['공급가액'].iloc[sumline] + df_m['공급가액'].loc[line]
        df_input['세액'].iloc[sumline]      = df_input['세액'].iloc[sumline] + df_m['부가세'].loc[line]

    elif(add == 2):
        df_input['일자3'].iloc[sumline]        = df_m['일자'].str.slice(8, 10).loc[line]
        df_input['품목3'].iloc[sumline]        = df_m['품목'].loc[line]
        df_input['수량3'].iloc[sumline]        = df_m['수량'].loc[line]
        df_input['단가3'].iloc[sumline]        = df_m['단가'].loc[line]
        df_input['공급가액3'].iloc[sumline]    = df_m['공급가액'].loc[line]
        df_input['세액3'].iloc[sumline]        = df_m['부가세'].loc[line]
        df_input['공급가액'].iloc[sumline]      = df_input['공급가액'].iloc[sumline] + df_m['공급가액'].loc[line]
        df_input['세액'].iloc[sumline]      = df_input['세액'].iloc[sumline] + df_m['부가세'].loc[line]

    elif(add == 3):
        df_input['일자4'].iloc[sumline]        = df_m['일자'].str.slice(8, 10).loc[line]
        df_input['품목4'].iloc[sumline]        = df_m['품목'].loc[line]
        df_input['수량4'].iloc[sumline]        = df_m['수량'].loc[line]
        df_input['단가4'].iloc[sumline]        = df_m['단가'].loc[line]
        df_input['공급가액4'].iloc[sumline]    = df_m['공급가액'].loc[line]
        df_input['세액4'].iloc[sumline]        = df_m['부가세'].loc[line]
        df_input['공급가액'].iloc[sumline]      = df_input['공급가액'].iloc[sumline] + df_m['공급가액'].loc[line]
        df_input['세액'].iloc[sumline]      = df_input['세액'].iloc[sumline] + df_m['부가세'].loc[line]

### 데이터 분석 
* drop 기능으로 셀을 제거해서 사용하는 방법
* 셀을 하나씩 증가시키며 데이터를 입력하는 방법

In [10]:
#df_m1 = df_m.drop(0)
#df_m2 = df_m1.drop(1)
tax_name_old = df_m['전표번호'].iloc[0]
taxNewDataLineCount = 0
taxReleaseDataLineCount = 0

for i in range(df_tax_total):
    if(i == 0):
        TAX_NewDataInput(i, taxNewDataLineCount)
        TAX_ReleaseDataInput(i, taxReleaseDataLineCount, taxNewDataLineCount)
        taxNewDataLineCount = taxNewDataLineCount + 1
    else:
        if(tax_name_old != df_m['전표번호'].iloc[i]):       # 전표번호 변경 시 
            tax_name_old = df_m['전표번호'].iloc[i]         # 새로운 전표 등록
            
            taxReleaseDataLineCount = 0
            # 전표 신규 데이터 작성
            TAX_NewDataInput(i, taxNewDataLineCount)
            TAX_ReleaseDataInput(i, taxReleaseDataLineCount, taxNewDataLineCount)
            taxNewDataLineCount = taxNewDataLineCount + 1
        else:
            # 기존 전표번호에 데이터 추가
            taxReleaseDataLineCount = taxReleaseDataLineCount + 1
            TAX_ReleaseDataInput(i, taxReleaseDataLineCount, (taxNewDataLineCount - 1))
            #print("전표번호 같음", 'i =', i, '몇번째 품목 =', taxReleaseDataLineCount, '몇번째 라인 =', taxNewDataLineCount)

### 공급받는자 사업자 없으면 행 삭제

In [11]:
#사업자 등록증 없는 업체는 삭제
#df_input.dropna(subset=['공급받는자 등록번호\n("-" 없이 입력)'], inplace=True)
df_input.dropna(subset=['세액1'], inplace=True)

그리고 만일 리스트 조건 안에 포함되는 데이터를 추출하고 싶다면 isin()함수를 사용해주면 된다. 만일, country가 [한국, 일본, 대만, 영국, 호주] 리스트에 포함되는 것을 추출하고 싶다면 기존에 조건을 여러개 열거했던 것처럼 사용하지 않고 아래 코드와 같은 형태를 사용함으로써 데이터를 추출할 수 있다.

country_list = ['한국', '일본', '대만', '영국', '호주']
df[df['country'].isin(country_list)]

반대로 country 열에 country_list에 포함되지 않는 데이터를 추출하고 싶다면 아래 코드 처럼 위의 코드에서 ~를 붙여 사용하면 된다.

country_list = ['한국', '일본', '대만', '영국', '호주']
df[~df['country'].isin(country_list)]

### 계산서 별도 정리 업체 구분
* 별도 업체는 사업자 등록번호로 조회 후 구분 할 것

In [12]:
# unCompany_list = ['주식회사 쉰들러엘리베이터', '대한승강에이전트', '지에스이', '위드이엘', '신화엘리베이터㈜', '동양텍/울산']

# df_unCompany = df_input[~df_input['공급받는자 상호'].isin(unCompany_list)]
# df_Company = df_input[df_input['공급받는자 상호'].isin(unCompany_list)]

# #df_rs = df_input[df_input['공급받는자 상호'].str.contains('쉰들러')]
# #df_Company.to_excel('쉰들러 테스트.xlsx')

# #1. 파일 생성
# writer=pd.ExcelWriter('buffer.xlsx', engine='openpyxl')
 
# #2. 생성 파일에 시트명 지정 후 dataframe에 저장한 결과값 넣기
# df_Company.to_excel(writer, sheet_name='계산서 검토 업체')
# df_unCompany.to_excel(writer, sheet_name='계산서 발행 업체')
 
# #3. 작성 완료 후 파일 저장
# writer.save()

In [13]:
'''
# 20221015 - 기존 파일 저장 방식
# df_input.to_excel("buffer.xlsx")
# wb = xl.load_workbook('buffer.xlsx')
# ws = wb.active
# #ws.insert_rows(0, 5)
# ws.delete_cols(1)
# wb.save('Tax List Complete File.xlsx')
# os.remove('buffer.xlsx')
# print("변환이 완료되었습니다.\n")
# #os.system("pause")
'''

'\n# 20221015 - 기존 파일 저장 방식\n# df_input.to_excel("buffer.xlsx")\n# wb = xl.load_workbook(\'buffer.xlsx\')\n# ws = wb.active\n# #ws.insert_rows(0, 5)\n# ws.delete_cols(1)\n# wb.save(\'Tax List Complete File.xlsx\')\n# os.remove(\'buffer.xlsx\')\n# print("변환이 완료되었습니다.\n")\n# #os.system("pause")\n'

In [14]:

unCompany_list = ['주식회사 쉰들러엘리베이터', '대한승강에이전트', '지에스이', '위드이엘', '신화엘리베이터㈜', '동양텍/울산']

df_unCompany = df_input[~df_input['공급받는자 상호'].isin(unCompany_list)]
df_Company = df_input[df_input['공급받는자 상호'].isin(unCompany_list)]

#1. 파일 생성
writer=pd.ExcelWriter('Tax List Complete File.xlsx', engine='openpyxl')

#2. 생성 파일에 시트명 지정 후 dataframe에 저장한 결과값 넣기
df_Company.to_excel(writer, sheet_name='계산서 검토 업체', index = False)
df_unCompany.to_excel(writer, sheet_name='계산서 발행 업체', index = False)
#3. 작성 완료 후 파일 저장
writer.save()

print("변환이 완료되었습니다.\n")
#os.system("pause")

변환이 완료되었습니다.

# Jupyter File -> Python File Convertion
jupyter nbconvert --to script Python_Excel_Conv_0V9000001.ipynb

# EXE 파일 생성
pyinstaller -F .\Python_Excel_Conv_0V9000001.py